body{
  overflow-x: hidden;
  position: absolute;
  margin: 0px;
  padding: 0px;
}
header {
  position: sticky;
  background-color: black;
  border-bottom: 1px solid #ccc;
  top: 0;
  z-index: 100;
}
#menu-icon {
  height: 75px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#logo {
  width: 50%;
  color: #fff;
  width: 100px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1em;
  align-self: left;
}
#logo img {
  width: 100px;
}
#blog-name h1 {
  width: 100%;
  margin: 0;
  font-size: 2em;
  color: #feb300;
  font-family: 'Dancing Script', cursive;
  font-weight: 600; 
}
#navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;

}
.link{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1em;
}
.link a{
  text-decoration: unset;
  color: black;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#split-screen {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}
#left-screen
#right-screen {
  width: 50%;
  background-color: lightcyan;
}
#left-screen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}
#left-screen, 
#right-screen  {
  flex: 1;
  align-items: center;
  box-sizing: border-box;
}
footer {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  color: white;
}